li
  div= item.name
  ul
    for nestedItem in item.nested
      li
        span= nestedItem.a
        span= nestedItem.b
        span= nestedItem.c
        span= nestedItem.d
        span= nestedItem.e